@font-face {
    font-family: "MFMIAOMIAO_NONCOMMERCIAL-REGULAR";
    src: url("MFMIAOMIAO_NONCOMMERCIAL-REGULAR.eot"); /* IE9 */
    src: url("MFMIAOMIAO_NONCOMMERCIAL-REGULAR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("MFMIAOMIAO_NONCOMMERCIAL-REGULAR.woff") format("woff"), /* chrome、firefox */
    url("MFMIAOMIAO_NONCOMMERCIAL-REGULAR.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("MFMIAOMIAO_NONCOMMERCIAL-REGULAR.svg#MFMIAOMIAO_NONCOMMERCIAL-REGULAR") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


