@keyframes rotation {
    to {
        transform: rotate(-1turn);
    }
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-50px);
    }

    75% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}