/*********************************************
   The Common styles among the tow games!!
*********************************************/

/***************************************
               Container
***************************************/
.container {
    position: relative;

    display: flex;

    width: 1000px;
    height: 682px;
    margin: 10px auto;
    padding: 8px 0;

    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px gray;

    flex-flow: column nowrap;
    align-items: center;
}

/***************************************
              UI Reminder!
***************************************/
.message {
    font-size: 1.5em;
}

.highlight {
    background-color: lightcoral;
}

.highlight-text {
    color: lightcoral;
}

.great {
    color: #e32781;
    font-weight: bold;
    transform: scale(1.2);
}

.hit-on {
    animation: o 500ms forwards;
    box-shadow: 0 0 5px 5px #e3b0d0;
    transform: scale(1.05);
    background-color: lightpink;
}

@keyframes o {
    from {
        box-shadow: 0 0 5px 5px #e3b0d0;
        transform: scale(1.05);
        background-color: lightpink;
    }

    to {
        background-color: #dcdcdc;
        box-shadow: 0 0 3px 3px #dcdcdc;
        transform: scale(0.6);
    }
}

/***************************************
         Nav between the router
***************************************/
.trans {
    font-size: 45px;

    position: absolute;
    top: calc(50% - 50px);

    width: 100px;
    height: 100px;

    transition: all 200ms;

    color: white;
    background-color: #e3e3e3;
}

.trans:hover {
    background-color: #bababa;
}

.trans-next {
    right: 0;
}

.trans-pre {
    left: 0;
}

/***************************************
      Page checkout & hidden
***************************************/

.hidden {
    display: none;
    visibility: hidden;

    opacity: 0;
}

/***************************************
     the Main content of a game
***************************************/
.playground {
    position: relative;
    z-index: 1;

    overflow: hidden;

    width: 540px;
    height: 440px;

    border-radius: 30px;
    box-shadow: 0 0 5px gray;
}

/***************************************
                 Util
***************************************/
.middle {
    display: flex;

    align-items: center;
    justify-content: center;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sample {
    padding: 10px;
}


