/*********************************************
         Grid Style in the Maze Game!
                Size: 12 * 11
*********************************************/

/***************************************
               Grid Width
***************************************/
.wid-1 {
    width: calc(1 * 100% / 12);
}

.wid-2 {
    width: calc(2 * 100% / 12);
}

.wid-3 {
    width: calc(3 * 100% / 12);
}

.wid-4 {
    width: calc(4 * 100% / 12);
}

.wid-5 {
    width: calc(5 * 100% / 12);
}

.wid-6 {
    width: calc(6 * 100% / 12);
}

.wid-7 {
    width: calc(7 * 100% / 12);
}

.wid-8 {
    width: calc(8 * 100% / 12);
}

.wid-9 {
    width: calc(9 * 100% / 12);
}

.wid-10 {
    width: calc(10 * 100% / 12);
}

.wid-11 {
    width: calc(11 * 100% / 12);
}

.wid-12 {
    width: calc(12 * 100% / 12);
}

/***************************************
               Grid Height
***************************************/

.height-1 {
    height: calc(1 * 100% / 11);
}

.height-2 {
    height: calc(2 * 100% / 11);
}

.height-3 {
    height: calc(3 * 100% / 11);
}

.height-4 {
    height: calc(4 * 100% / 11);
}

.height-5 {
    height: calc(5 * 100% / 11);
}

.height-6 {
    height: calc(6 * 100% / 11);
}

.height-7 {
    height: calc(7 * 100% / 11);
}

.height-8 {
    height: calc(8 * 100% / 11);
}

.height-9 {
    height: calc(9 * 100% / 11);
}

.height-10 {
    height: calc(10 * 100% / 11);
}

.height-11 {
    height: calc(11 * 100% / 11);
}

/***************************************
              Offset X
***************************************/
.X-0 {
    left: calc(0 * 100% / 12);
}

.X-1 {
    left: calc(1 * 100% / 12);
}

.X-2 {
    left: calc(2 * 100% / 12);
}

.X-3 {
    left: calc(3 * 100% / 12);
}

.X-4 {
    left: calc(4 * 100% / 12);
}

.X-5 {
    left: calc(5 * 100% / 12);
}

.X-6 {
    left: calc(6 * 100% / 12);
}

.X-7 {
    left: calc(7 * 100% / 12);
}

.X-8 {
    left: calc(8 * 100% / 12);
}

.X-9 {
    left: calc(9 * 100% / 12);
}

.X-10 {
    left: calc(10 * 100% / 12);
}

.X-11 {
    left: calc(11 * 100% / 12);
}

/***************************************
              Offset Y
***************************************/
.Y-0 {
    top: calc(0 * 100% / 11);
}

.Y-1 {
    top: calc(1 * 100% / 11);
}

.Y-2 {
    top: calc(2 * 100% / 11);
}

.Y-3 {
    top: calc(3 * 100% / 11);
}

.Y-4 {
    top: calc(4 * 100% / 11);
}

.Y-5 {
    top: calc(5 * 100% / 11);
}

.Y-6 {
    top: calc(6 * 100% / 11);
}

.Y-7 {
    top: calc(7 * 100% / 11);
}

.Y-8 {
    top: calc(8 * 100% / 11);
}

.Y-9 {
    top: calc(9 * 100% / 11);
}

.Y-10 {
    top: calc(10 * 100% / 11);
}
