/***************************************
        Location: Start and End
***************************************/

.location {
    font-size: 1.5em;

    position: absolute;
    z-index: 1;

    width: calc(100% / 12);
    height: calc(100% / 11);

    transition: transform 200ms;
}

.location:hover {
    transform: scale(1.5);
}

.start {
    background-color: lightgreen;
}

.end {
    background-color: lightblue;
}

/***************************************
                 Wall
***************************************/
.wall {
    position: absolute;

    width: 50px;
    height: 50px;

    transition: background 300ms;

    background-color: #dcdcdc;
}

.sample .wall {
    position: static;

    display: inline-block;

    width: 100px;
    height: 34px;
}

/***************************************
                 State
***************************************/
.maze-pending {
    cursor: pointer;
}

/***************************************
               Circle-Wall
***************************************/
.circle-group {
    position: absolute;

    width: 50px;
    height: 50px;
}

.circle-center {
    border-radius: 50%;
}

.hit-bar {
    top: -50px;
    left: calc(24px / 2);

    width: 24px;
    height: 55px;

    transform-origin: 50% 75px;
}
