/* presets */
html {
    font-size: 62.5%;
}

body {
    font-family: Georgia, Garamond, serif;
    font-size: 1.5em;

    text-align: left;

    background-image: url('../img/silverware.jpg');
}

/* article */
.container {
    padding: 1em calc(50% - 30em);
}

.leading {
    font-family: 'Century Gothic', Georgia, Garamond, serif;

    text-decoration: underline;

    color: rgb(164, 164, 0);
    background-color: #f0f0f0;
}

.title-leading {
    text-align: center;
    letter-spacing: .3em;
}

.article-leading h2 {
    font-weight: 300;

    letter-spacing: .1em;
}

#overview figure {
    width: min-content;

    padding: 1em;
}

#overview ul {
    list-style: none;
}

article ul {
    list-style-image: url('../img/pie_icon.gif');
}

#directions li em {
    font-weight: bold;
    font-style: normal;
}

#user-comments blockquote {
    font-style: italic;

    background-color: #ffffc8;
}

#user-comments blockquote .quote-from {
    font-style: normal;

    text-align: right;
}

#links a {
    color: rgb(164, 164, 0);
}
