#f {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 300px;
}

#f img {
    width: 300px;
}

* {
    font-family: Consolas, sans-serif;

    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5em;

    text-align: center;
}

div {
    box-sizing: border-box;
}

#container {
    overflow: hidden;

    width: 100%;
    max-width: calc(9rem * 5);
    height: calc(9rem * 8);
    margin: 2em auto;

    color: #595d66;
    border-radius: 10px;
    box-shadow: 0 0 20px #434343;
}

#screen {
    display: flex;
    flex-direction: column;

    height: 33%;

    text-align: right;
}

#panel {
    font-size: 1.5em;

    display: flex;

    height: 67%;

    flex-wrap: wrap;
    align-items: stretch;
}

#output {
    flex-grow: 2;
}

#input {
    color: #181818;

    flex-grow: 1;
}

.flex-block {
    width: 20%;
    height: calc(100% / 6);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d3d5d6;
    background-color: #f7f8f9;
}

.flex-block:hover {
    background-color: #e3e4e5;
}

.eq:hover {
    background-color: #e06a2b;
}

.eq {
    color: white;
    background-color: #fb7730;
}

.ce {
    color: #fb7730;
}
