.btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    position: relative;

    display: inline-block;

    padding: 6px 12px;

    cursor: pointer;
    user-select: none;
    transition: all 400ms;
    vertical-align: middle;
    white-space: nowrap;

    color: #333;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:hover,
.btn:active {
    text-decoration: none;

    border-color: #ccc;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
}

.btn-primary {
    color: #fff;
    border: 1px solid #5aad35;
    background-color: #6cc644;
    background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
    background-image: linear-gradient(#91dd70, #55ae2e);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
}

.btn-primary:hover,
.btn-primary:active {
    border-color: #519d30;
    background-color: #55a532;
    background-image: -webkit-linear-gradient(#85d063, #4f992f);
    background-image: linear-gradient(#85d063, #4f992f);
}

.btn-large {
    font-size: inherit;

    padding: .75em 1.25em;

    border-radius: 6px;
}

.btn-block {
    border-color: rgba(0, 0, 0, .25);
    background-clip: padding-box;
}

.form-group {
    width: 100%;
    position: relative;
}

.form-group .message {
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-control {
    font-size: 14px;
    line-height: 20px;

    min-height: 34px;
    padding: 6px 8px;

    vertical-align: middle;

    color: #333;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    background: #fff no-repeat right 8px center;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
}

.form-control:focus {
    box-shadow: inset 0 0 5px 2px lightblue;
}

.form-control-lg {
    font-size: 16px;

    min-height: 40px;
    padding: 10px;

    transition: all 200ms;
    border-color: rgba(0, 0, 0, .25);
    border-radius: 5px;
    background-clip: padding-box;
}

.form-correct .form-control {
    box-shadow: inset 0 0 15px 2px lightgreen;
}

.form-correct .message {
    color: lightgreen;
}

.form-danger .form-control {
    box-shadow: inset 0 0 15px 3px lightcoral;
}

.form-danger .message {
    color: lightcoral;
    font-weight: bold;
}
