.order-0 {
    left: 0;
    top: 0;
}

.order-1 {
    left: 25%;
    top: 0;
}

.order-2 {
    left: 50%;
    top: 0;
}

.order-3 {
    left: 75%;
    top: 0;
}

.order-4 {
    left: 0;
    top: 25%;
}

.order-5 {
    left: 25%;
    top: 25%;
}

.order-6 {
    left: 50%;
    top: 25%;
}

.order-7 {
    left: 75%;
    top: 25%;
}

.order-8 {
    left: 0;
    top: 50%;
}

.order-9 {
    left: 25%;
    top: 50%;
}

.order-10 {
    left: 50%;
    top: 50%;
}

.order-11 {
    left: 75%;
    top: 50%;
}

.order-12 {
    left: 0;
    top: 75%;
}

.order-13 {
    left: 25%;
    top: 75%;
}

.order-14 {
    left: 50%;
    top: 75%;
}

.order-15 {
    left: 75%;
    top: 75%;
}
